.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}
.isActive {
    color: #ffcc00;
    transition: all 0.5s;
   
  }
  .noActive {
    color: #fdfdfe;
    transition: all 1s;
   
  }

